---
import CourseLayout from '../../../layouts/CourseLayout.astro';

import { fundamentosInteligenciaArtificialSections as sections } from '../../../constants/sections';

---

<CourseLayout sections={sections}>
  <h1 class="text-3xl font-bold mb-4">Fundamentos de Inteligencia Artificial</h1>
  <p class="text-lg text-tx-secondary mb-4">Este curso cubre los conceptos básicos de inteligencia artificial, incluyendo aprendizaje supervisado, no supervisado, IA simbólica, algoritmos de búsqueda, lógica difusa y mucho más.</p>
</CourseLayout>