---
import CourseLayout from '../../../layouts/CourseLayout.astro';

import { matematicasDiscretasSections as sections } from '../../../constants/sections';

---

<CourseLayout sections={sections}>
  <h1 class="text-3xl font-bold mb-4">Matematicas Discretas</h1>
  <p class="text-lg text-tx-secondary mb-4">Este curso cubre el contenido de los programitas hechos con el profesor Darwin.</p>
</CourseLayout>
