---
import BaseLayout from '../layouts/BaseLayout.astro';
import SemesterSection from '../components/SemesterSection.astro';
import { semesters } from '../constants/courses';
---

<BaseLayout>
  <section class="py-12 text-center">
    <h1 class="text-4xl font-bold mb-4 text-tx-primary">Bienvenido a SharkEdu</h1>
    <p class="text-lg text-tx-secondary">Aquí encontrarás todos los cursos de programación y matemáticas que he tomado a lo largo de mi carrera.</p>
  </section>
  
  <section id="cursos" class="container mx-auto">
    {semesters.map(semester => (
      <SemesterSection semester={semester.name} courses={semester.courses} />
    ))}
  </section>
</BaseLayout>
