---
import CourseLayout from '../../../layouts/CourseLayout.astro';

interface Section {
  title: string;
  link: string;
}

const sections: Section[] = [
  { title: 'Introducción', link: '/course/fundamentos-programacion/leccion1' },
  { title: 'Lesson 2', link: '/course/fundamentos-programacion/leccion2' },

  { title: 'Lesson 3', link: '/course/fundamentos-programacion/leccion3' },
];

---

<CourseLayout sections={sections}>
  <h1 class="text-3xl font-bold mb-4">Fundamentos de Programación</h1>
  <p class="text-lg text-tx-secondary mb-4">Este curso cubre los conceptos básicos de programación, incluyendo variables, estructuras de control, funciones y mucho más.</p>
</CourseLayout>
