---
import CourseLayout from '../../../layouts/CourseLayout.astro';

import { fundamentosDeProgramacionSections as sections } from '../../../constants/sections';

---

<CourseLayout sections={sections}>
  <h1 class="text-3xl font-bold mb-4">Fundamentos de Programaci칩n</h1>
  <p class="text-lg text-tx-secondary mb-4">Este curso cubre los conceptos b치sicos de programaci칩n, incluyendo variables, estructuras de control, funciones y mucho m치s.</p>
</CourseLayout>
