---
---

<header class="bg-background-secondary text-tx-primary p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-bold"><a href="/">SharkEdu</a></h1>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:underline">Inicio</a></li>
        <li><a href="#cursos" class="hover:underline">Cursos</a></li>
        <li><a href="#contacto" class="hover:underline">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
