---
import CourseLayout from '../../../layouts/CourseLayout.astro';

import { paradigmasProgramacionSections as sections } from '../../../constants/sections';

---

<CourseLayout sections={sections}>
  <h1 class="text-3xl font-bold mb-4"> Paradigmas de Programación </h1>
  <p class="text-lg text-tx-secondary mb-4">Este curso cubre el contenido de la materia de Paradigmas de Programación. Por ahora, solo el extraordinario explicado</p>
</CourseLayout>
