---
import { ViewTransitions } from 'astro:transitions';

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import CourseSidebar from '../components/CourseSidebar.astro';
// import { fundamentosDeProgramacionSections } from '../constants/sections';
import type { Section } from '../types/Section';

interface Props {
  sections: Section[];
}

const { sections } = Astro.props as Props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SharkEdu - {sections[0].title}</title>
    <!-- <link rel="stylesheet" href="/src/styles/globals.css" /> -->
    <ViewTransitions />
  </head>
  <body class="bg-background-primary text-tx-primary">
    <Navbar />
    <div class="container mx-auto flex p-4">
      <CourseSidebar sections={sections} />
      <main class="flex-1 p-4">

          <slot />

      </main>
    </div>
    <Footer />
  </body>
</html>
