---
import CourseLayout from '../../../layouts/CourseLayout.astro';

import { algoritmosEstructurasSections as sections } from '../../../constants/sections';

---

<CourseLayout sections={sections}>
  <h1 class="text-3xl font-bold mb-4">Algoritmos y estructuras de datos</h1>
  <p class="text-lg text-tx-secondary mb-4">En este curso nos adentramos a los conocimientos de un algoritmo, al igual que las principales estructuras de datos que nos ayudaran a tener un control de neustra data </p>
</CourseLayout>
